* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
}
/*------------------------MENU------------------------------*/
.menu {
  display: flex;
  justify-content: space-around;
  height: 13vh;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 1;
  padding: 5px;
  img {
    width: 150px;
    height: 100px;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }
  li {
    float: left;
    margin-left: 55px;
    font-size: 20px;
    font-weight: 400;
  }

  li:hover {
    background-color: red;
    border-radius: 18px;
    padding: 5px;
  }
}
a {
  color: black;
  text-decoration: none;
}
/*--------------------------HOME------------------------*/
.home {
  height: 100vh;
  background-color: rgb(161, 34, 34);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  h1 {
    font-size: 180px;
    width: fit-content;
  }
  h1:hover {
    color: white;
  }
  h3 {
    background-color: white;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 15px;
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 160px;
    border: 3px black solid;
  }

  button {
    font-family: Fjalla One, sans-serif;
    font-size: larger;
    margin-top: 45px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
  }
  button:hover {
    background-color: yellow;
  }
}

/*----------------CHI SONO------------------------*/
.chisono {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    position: relative;
    width: fit-content;
    font-size: 60px;
    margin-top: 50px;
  }
}

.flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin-top: 80px;
  padding: 5px;
  width: 97vw;
  align-items: center;
  ul {
    list-style: none;
  }
  img {
    width: 300px;
    height: 300px;
  }
  div {
    font-size: larger;
    text-align: left;
    width: 500px;
    background-color: rgb(161, 34, 34);
    padding: 5px;
    border-radius: 15px;
    color: black;
    p {
      margin-bottom: 25px;
    }
  }
}
/*-----------------COMPETENZE------------------------------*/
