* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
}
.menu {
  display: flex;
  justify-content: space-around;
  height: 13vh;
  align-items: center;

  img {
    width: 150px;
    height: 100px;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }
  li {
    float: left;
    margin-left: 55px;
    font-size: 20px;
    font-weight: 400;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
.home {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  width: 100%;
  height: 87vh;
  background-color: rgb(161, 34, 34);
  justify-content: center;
  h1 {
    font-size: 180px;
    margin-left: 20vw;
    width: fit-content;
  }
  h1:hover {
    color: white;
  }
  h3 {
    margin-left: 20vw;
    background-color: white;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 15px;
  }
}
